.gallery {
  // padding: 0 94px;
  // height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(132, 161, 120, 1) 24px,
      rgba(255, 161, 120, 0) 10px
    ),
    url(../images/bg-icecream-mobile.jpg);
}

.ice-cream__img {
  max-width: 100%;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 7.40681px;
  margin-bottom: 128px;
}
@media screen and(min-width: 1200px) {
  .gallery {
    // height: 1020px;
    background-image: linear-gradient(
        rgba(132, 161, 120, 1) 98px,
        rgba(255, 161, 120, 0) 10px
      ),
      url(../images/bg-icecream-desktop.jpg);
  }
  .ice-cream__img {
    border-radius: 24px;
  }
}

@media screen and(min-width: 768px) and (max-width: 1199px) {
  .gallery {
    background-image: linear-gradient(
        rgba(132, 161, 120, 1) 164px,
        rgba(255, 161, 120, 0) 10px
      ),
      url(../images/bg-icecream-tablet.jpg);
  }
  .ice-cream__img {
    border-radius: 18px;
  }
}
