<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <picture>
    <source
      srcset="
        images/icecream-desktop.webp    1x,
        images/icecream-desktop@2x.webp 2x
      "
      media="(min-width:1200px)"
      type="image/webp"
    />
    <source
      srcset="images/icecream-desktop.jpg 1x, images/icecream-desktop@2x.jpg 2x"
      media="(min-width:1200px)"
    />
    <source
      srcset="images/icecream-tablet.webp 1x, images/icecream-tablet@2x.webp 2x"
      media="(min-width:480px)"
      type="image/webp"
    />
    <source
      srcset="images/icecream-tablet.jpg 1x, images/icecream-tablet@2x.jpg 2x"
      media="(min-width:480px)"
    />
    <source
      srcset="images/icecream.webp 1x, images/icecream@2x.webp 2x"
      media="(max-width:767px)"
      type="image/webp"
    />
    <source
      srcset="images/icecream.jpg 1x, images/icecream@2x.jpg 2x"
      media="(max-width:767px)"
    />
    <img class="gallery-img" src="images/icecream.jpg" alt="ice-cream" />
  </picture>
</section>
